.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .modal-box {
      padding: 1rem;
      min-height: 200px;
      width: 100%;
      max-width: 500px;
      background: white;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .title {
          margin-bottom: 0;
      }
      .go-back {
          width: 20%;
      }
  }
}